<div class="left-nav">
    <div *ngIf="getUser() as user; else showLogin">
        <div *ngIf="user.displayName; else showLogin">
            <p>Hello {{ user.displayName }}!</p>
            <button (click)="logout()">Logout</button>
        </div>
    </div>
    <ng-template #showLogin>
        <p>Please login.</p>
        <button (click)="login()">Login with Google</button>
    </ng-template>
    <div class="links">
        <a routerLink="/" routerLinkActive="active">Landing</a>
        <br>
        <a routerLink="/lobby" routerLinkActive="active">Lobby</a>
    </div>
</div>
