<div>
    <h4>Red Cards</h4>
    <div *ngIf="players?.red?.hand">
        <button *ngFor="let card of players.red.hand" [disabled]="currentPlayer != players.red.uid">
            {{card}}
        </button>
    </div>
    <h4>Table Card</h4>
    <button disabled>{{tableCard}}</button>
    <h4>Blue Cards</h4>
    <div *ngIf="players?.blue?.hand">
        <button *ngFor="let card of players.blue.hand" [disabled]="currentPlayer != players.blue.uid">
            {{card}}
        </button>
    </div>
</div>