<div>
    <!-- ADD CSS -->
    <app-game-status [gameStatus]="(game | async)?.gameStatus"></app-game-status>
    <div *ngIf="(game | async)?.turn_uid">
        Next Turn: {{(game | async)?.turn_uid === (game | async)?.players.red.uid ? "red" : "blue"}}
    </div>
    <br>
    <app-game-board [gameBoard]="(game | async)?.board"></app-game-board>
    <br>
    <app-game-cards [currentPlayer]="getCurrentUser()" [gameCards]="(game | async)?.deck" [tableCard]="(game | async)?.tableCard" [players]="(game | async)?.players"></app-game-cards>
    <br>
    <app-game-moves></app-game-moves>
</div>